.helpPage {
  background: #e4e8ed;
}

.dashboard--knowledge {

  .support-container {
    position: relative;
    padding: 0 1.5rem;
  }

  .support-hero {
    text-align: center;
    margin-top: 5rem;

    &__heading {
      font-size: 2.2rem;
      margin-bottom: .5rem;
    }

    &__subheading {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }

    // &__searchBox {
    //   display: flex;
    //   width: 100%;
    //   justify-content: center;
    //   align-items: stretch;

    //   &-input {
    //     padding: 1.5rem 2.5rem;
    //     width: 50%;
    //     font-size: 1.8rem;
    //     border: none;
    //     border-top-left-radius: .3rem;
    //     border-bottom-left-radius: .3rem;
    //     font-weight: 300;


    //     &::placeholder {
    //       color: #666;
    //     }
    //   }

    //   &-btn {
    //     background-color: #222;
    //     color: #fff;
    //     border: none;
    //     padding: 0 3.5rem;
    //     font-size: 1.6rem;
    //     border-top-right-radius: .3rem;
    //     border-bottom-right-radius: .3rem;
    //     outline: none;
    //     font-weight: 600;
    //     cursor: pointer;
    //     @include transition-default;

    //     &:hover {
    //       background-color: blue;
    //     }
    //   }
    // }
  }

  .support-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 96rem;
    margin: 0 auto;
    margin-top: 7rem;

    .cardSupport {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;   
      height: 30rem;
      background-color: #fff;
      border-radius: .3rem;
      text-align: center;
      transition: all .3s;

      &--1 {
        // border-top: solid 6px $color-accent-teal;
      }

      &--2 {
        // border-top: solid 6px $color-accent-amber;
      }

      &--3 {
        // border-top: solid 6px $color-accent-red;
      }

      &:hover {
        transform: translateY(-1rem);
      }

      &:not(:last-child) {
        margin-right: 4rem;
      }

      &__icon {
        display: inline-block;
        font-size: 3.6rem;
        margin-bottom: 2rem;

        &--1 {
          // color: $color-accent-teal;
        }

        &--2 {
          // color: $color-accent-amber;
        }

        &--3 {
          // color: $color-accent-red;
        }

      }

      &__heading {
        font-size: 2rem;
        margin-bottom: .5rem;
      }

      &__text {
        font-size: 1.4rem;
        border-bottom: solid 1px #eee;
        width: 75%;
        margin: 0 auto;
        padding-bottom: 1.8rem;
        margin-bottom: 3.1rem;
      }

      &__link {
        color: #fff;
        background: #aaa;
        padding: 1.2rem 3.1rem;
        border-radius: .3rem;
        font-size: 1.4rem;
        font-weight: 600;


        &--1 {
          // background-color: $color-accent-teal;
        }

        &--2 {
          // background-color: $color-accent-amber;
        }

        &--3 {
          // background-color: $color-accent-red;
        }
      }
    }
  }

  .support-faq {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 7rem;

    &__heading {
      font-size: 2.2rem;
      margin-bottom: 3.5rem;
    }
  }
}

.faqAccordion {
  text-align: left;
  
  .faqAccordion-tab {
    margin-bottom: 2rem;
  }

  &__btn {
    display: block;
    width: 65rem;
    margin: 0 auto;
    padding: 2.5rem 3.5rem;
    background-color: #eee;
    color: #777;
    font-weight: 600;
    border: none;
    font-size: 1.4rem;
    text-align: left;
    transition: all .2s;
    border-radius: .3rem;
    position: relative;

    &-icon {
      font-size: 1.4rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 2.5rem;
    }
  }

  &__content {
    background-color: #fff;
    overflow: hidden;
    display: none;
    transition: all .2s;

    &-text {
      padding: 2rem 3.5rem;
    }
  }
}