.profilePage {
  background: #fff;
}

.profilePage-banner {
  width: 100%;
  height: 30rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://images.unsplash.com/photo-1414694762283-acccc27bca85?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2079&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profilePage-main {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  gap: 5rem;
  position: relative;
  top: -16rem;
  padding: 0 2rem;

  @include respond(phone) {
    flex-direction: column;
  }

  .profileCard {
    flex-basis: 30%;

    @include respond(phone) {
      flex-basis: 100%;
      margin: 0 auto;
    }

    &-top {

      &__imgWrapper {
        position: relative;

        & img {
          margin-bottom: 0.5rem;
          width: 20rem;
          border: solid 7px #fff;
        }

        &-btn {
          position: absolute;
          bottom: 19px;
          left: 10px;
          width: 3.8rem;
          height: 3.8rem;
          border-radius: 50%;
          background-color: #eee;
          color: #222;
          box-shadow: 0 5px 13px rgba(0, 0, 0, 0.10),
          0 6px 6px rgba(0, 0, 0, 0.15);
          opacity: 0.4;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      &__group {

      }

      &__name {
        font-size: 1.8rem;
        margin-bottom: .5rem;
      }

      &__bio {
        font-size: 1.6rem;
        margin-bottom: .5rem;
        display: inline-block;
      }
  
      &__since {
        font-size: 1.6rem;
        color: #aaa;
        margin-bottom: .7rem;
      }

      &__location {
        font-size: 1.6rem;
        margin-bottom: .5rem;
        display: inline-block;
      }

      &__input {
        font-size: 1.6rem;
        padding: .7rem;
        border-radius: .5rem;
        border: 1px solid #eee;
      }

      &__editBtn {
        display: inline-block;
        margin-left: 1rem;
        background-color: transparent;
      }

      &__deleteAccount {
        display: block;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        padding: 1.2rem;
        margin: 2rem 0 3.5rem 0;
        width: 20rem;
        background-color: #dc3545;
        color: #fff;
        border-radius: 25rem;
      }
    }
  }

  .profileContent {
    flex-basis: 70%;
    margin-top: 20rem;

    @include respond(phone) {
      flex-basis: 100%;
      margin-top: 0;
    }   

    &-title {
      font-size: 2rem;
      padding-bottom: .5rem;
      border-bottom: solid 2px #eee;
    }

    &-list {
      
      &__item {

        &-post {
          padding: 1rem 0;
          color: #222;
          border-bottom: 1px solid #eee;
          width: 100%;

          &__title {
            font-size: 1.6rem;
            margin-bottom: .7rem;
          }

          &__text {
            font-size: 1.4rem;
          }

          &__bottom {
            margin-top: -.4rem;

            &-category {
              font-size: 1.2rem;
              color: #666;
              margin-right: .5rem;
              text-transform: capitalize;
              font-weight: bold;
            }

            &-date {
              font-size: 1.2rem;
              color: #666;
            }
          }
        }
      }
    }
  }
}