.asideMenu {
  background: #fff;
  border-radius: .7rem;
  overflow: hidden;
  min-height: 24.6rem;

  &-top {
    display: flex;
    align-items: flex-end;
    height: 12rem;

    &--Home {
      background: linear-gradient(to bottom, rgba(255, 183, 94, 0.8), rgba(237, 143, 3, 0.8)),
      url('https://images.pexels.com/photos/708440/pexels-photo-708440.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--Sports {
      background: linear-gradient(to bottom, rgba(65, 165, 245, 0.8), rgba(33, 150, 243, 0.8)),
      url('https://images.pexels.com/photos/1618269/pexels-photo-1618269.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--Music {
      background: linear-gradient(to bottom, rgba(236, 61, 120, 0.8), rgba(233, 30, 99, 0.8)),
      url('https://images.pexels.com/photos/96380/pexels-photo-96380.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--Business {
      background: linear-gradient(to bottom, rgba(98, 187, 102, 0.8), rgba(76, 175, 80, 0.8)),
      url('https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__title {
      font-size: 1.8rem;
      color: #fff;
      font-weight: 700;
      margin-bottom: 2.5rem;
      margin-left: 2rem;
    }
  }

  &-body {

    &__description {
      padding: 2rem;
      font-size: 1.4rem;
    }

    &__list {

      &-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 1rem 0 1rem 2.5rem;
        border-bottom: 1px solid #eee;

        &__score {
          margin-right: 1rem;
        }

        &__userImg {
          width: 4rem;
          border-radius: 50%;
        }

        &__userName {

        }
      }
    }

    &__btn {
      display: block;
      font-size: 1.4rem;
      font-weight: bold;
      padding: .8rem;
      text-align: center;
      margin: 2rem auto 3.5rem auto;
      width: 80%;
      background-color: #ccc;
      color: #222;
      border-radius: 25rem;
    }
  }
}