.comment {
  padding-left: 2rem;
  border-left: solid 2px #eee;
  margin-bottom: 2rem;

  &-top {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #666;
    gap: .7rem;
    margin-bottom: .5rem;

    &__img {
      width: 2.4rem;
      border-radius: 50%;
    }

    &__author {
      font-weight: 600;
      color: #666;
      font-size: 1.2rem;
    }

    &__timestamp {
      
    }
  }

  &-middle {  
    margin-bottom: .7rem;

    &__body {
      font-size: 1.4rem;
    }
  }

  &-bottom {
    
    &__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      &-item {
        font-size: 1.2rem; 

        button {
          display: flex;
          align-items: center;
          color: #666;
          font-size: 1.4rem; 
          font-weight: 600;            
        }  

        &__icon {

          &--delete {
            color: #dc3545;
          }
        }

        &__voteScore {
          font-weight: bold;
         
        }

        &__reply {
          margin-left: .3rem;
       
        }

        &__delete {
          margin-left: .3rem;
          color: #dc3545;
          font-weight: 400;
        }
      }
    }
  }
}