.navbar {
  width: 100%;
  transition: all .3s;
  background: #fff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
  padding: .7rem 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__left {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    .logo {
      font-size: 2rem;
      font-weight: bold;
      color: #222;
    }
  }

  &__center {
    flex-grow: 4;
    
  }

  &__right {
    flex-grow: 1;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-profile {
      padding: .4rem 1.4rem .4rem 1rem;
      border-radius: 25rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: #eee;

      &:hover {
        background: #e6e6e6;
      }

      &__userImg {
        width: 3.2rem;
        border-radius: 50%;
      }
  
      &__userName {
        font-size: 1.2rem;
        font-weight: 600;
        margin-left: 1rem;
        color: #222;
      }
    }

    &-notifications {
      width: 4rem;
      height: 4rem;
      border-radius: 25rem;
      position: relative;
      background: #eee;

      &:hover {
        filter: brightness(0.95);
      }

      &__icon {
        font-size: 1.8rem;
        color: #333;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }

      &__dropdown {
        position: absolute;
        cursor: auto;
        top: 4.5rem;
        right: 0;
        background: #fff;
        width: 30rem;
        overflow: hidden;
        border-radius: .7rem;
        z-index: 10;

        &-top {
          text-align: left;
          padding: 1.7rem;
          border-bottom: solid 1px #eee;

          &__span {
            font-size: 1.6rem;
            font-weight: bold;
            display: block;
          }
        }

        &-list {

          &__item {
          
            &:not(:last-child) {
              border-bottom: solid 1px #eee;
            }
          
            &-link {
              width: 100%;
              text-align: left;
              padding: 1.7rem 1.7rem; 
              font-size: 1.4rem;
              color: #333;

              &:hover {
                background: #eee;
              }
            }
          }
        }
      }
    }

    &-signout {
      width: 4rem;
      height: 4rem;
      border-radius: 25rem;
      position: relative;
      background: #eee;

      &:hover {
        filter: brightness(0.95);
      }

      &__icon {
        font-size: 1.8rem;
        color: #333;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }
  }
}